.text-divider {
	--text-divider-gap: 5rem;
	display: flex;
	align-items: center;
	font-size: 0.9375rem;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	width: 85%;
	margin: 12rem auto 1rem;
	&::before {
		content: "";
		height: 1px;
		background-color: silver;
		flex-grow: 1;
		margin-right: var(--text-divider-gap);
	}
	&::after {
		content: "";
		height: 1px;
		background-color: silver;
		flex-grow: 1;
		margin-left: var(--text-divider-gap);
	}
}

.about-us {
	width: 85%;
	margin: 0 auto;
	img {
		width: 100%;
	}
	p {
		margin-top: 1rem;
		line-height: 27px;
		font-size: larger;
	}
}
