.service-form {
	width: 85%;
	margin: 12rem auto 0;
	background-color: $gray-accent;
	padding: 1rem;
	border-radius: 5px;
	&-title {
		font-size: 2rem;
	}
	&-subtitle {
		margin: 2rem 0;
	}
	&-content {
		.important {
			color: $danger;
			margin-left: 0.5rem;
		}
		.field-title {
			background: #ffffff;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			padding: 1rem 0;
		}
		.checkboxes {
			display: flex;
			margin: 1rem 0;
			font-size: 1.2rem;
			label {
				display: block;
				margin-bottom: 5px;
			}
			.col {
				width: 30%;
				input[type="checkbox"] {
					margin-right: 5px;
					border: 1px solid $primary-color;
				}
			}
		}
		.date-picker {
			margin: 2rem 0;
			font-size: 1.2rem;
			label {
				margin-right: 2rem;
				input[type="date"],
				input[type="time"] {
					margin-left: 1rem;
					font-family: $font-style-secondary;
				}
			}
		}
		.important {
			color: $danger;
			margin-left: 0.5rem;
		}
	}
	.contact-information {
		display: flex;
		flex-wrap: wrap;
		.text-field {
			margin: 2rem 0 0;
			input[type="text"],
			input[type="tel"],
			input[type="email"] {
				border: 2px solid black;
				border-radius: 10px;
				padding: 0.5rem;
				font-size: 1.2rem;
				width: 80%;
			}
		}
	}
	.note {
		margin: 2rem 0;
		span {
			color: silver;
		}
	}
	.book-footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		textarea {
			border: none;
			padding: 1rem;
		}
		button {
			padding: 1rem;
			font-size: 1.5rem;
			background-color: $primary-color;
			border: none;
			border-radius: 5px;
		}
	}
}
