footer {
	background-color: $primary-color;
	margin-top: 5rem;
	.footer {
		padding: 3rem 3rem 1rem;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		flex-wrap: wrap;
		&-socials {
			display: flex;
			align-items: center;
			gap: 20px;
			&-icons {
				font-size: 1.2rem;
			}
		}
		&-logistics {
			display: flex;
			align-items: center;
			gap: 20px;
			&-logos {
				img {
					width: 50px;
					height: 30px;
					box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
					border-radius: 3px;
					background-color: white;
					border-radius: 3px;
				}
			}
		}
		&-contacts {
			display: flex;
			align-items: center;
			gap: 20px;
			.contacts {
				display: flex;
				flex-direction: column;
				gap: 20px;
				&-details {
					display: flex;
					align-items: center;
					gap: 20px;
				}
			}
		}
		&-terms {
			display: flex;
			flex-direction: column;
			gap: 20px;
			a {
				color: black;
			}
		}
		&-download {
			display: flex;
			align-items: center;
			gap: 10px;
			.qr-code {
				img {
					width: 60px;
				}
			}
			.stores {
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin-top: 1rem;
				img {
					width: 80px;
				}
			}
		}
	}
	h3 {
		text-align: center;
		opacity: 50%;
		padding-bottom: 2rem;
	}
	hr {
		height: 100px;
		border-color: black;
	}
}

@media (max-width: $large) {
	footer {
		.footer {
			&-socials,
			&-logistics,
			&-contacts {
				display: unset;
			}
		}
	}
}

@media (max-width: $medium) {
	footer {
		hr {
			visibility: hidden;
			padding: 0 1rem;
		}
	}
}
@media (max-width: $small) {
	footer {
		.footer {
			padding: 1rem 0.3rem;
			align-items: unset;
			justify-content: space-evenly;
			&-socials,
			&-logistics {
				&-icons,
				&-logos {
					display: flex;
					flex-direction: column;
					align-items: center;
					margin: 1rem 0;
					gap: 10px;
				}
			}
			&-contacts {
				.contacts {
					margin-top: 0.5rem;
					gap: 10px;
				}
			}
			&-terms {
				margin-top: 0.5rem;
			}
		}
		hr {
			border-color: transparent;
		}
	}
}
