.services {
	h1 {
		font-size: 6rem;
	}
	p {
		font-size: 1.5rem;
		width: 60%;
		margin: 1rem auto 0;
	}
	&-banner {
		width: 85%;
		margin: 0 auto;
		background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hairdressing-station.png") no-repeat center / cover;
		padding: 5rem;
		color: white;
		margin-top: 2rem;
		text-align: center;
		border-radius: 15px;
	}
	&-listing {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		width: 90%;
		margin: -60px auto 0;
	}
	&-card {
		color: black;
		img {
			width: 100%;
		}
		width: 30rem;
	}
}
@media (max-width: $large) {
	.services-card {
		width: 25rem;
	}
}
@media (max-width: $medium) {
	.services {
		p {
			width: 90%;
		}
		&-banner {
			padding: 3rem;
		}
		&-card {
			width: 35rem;
		}
		&-listing {
			margin-top: -50px;
		}
	}
}
@media (max-width: $small) {
	.services {
		h1 {
			font-size: 3rem;
		}
		p {
			font-size: 1.2rem;
			width: 60%;
			margin: 1rem auto 0;
			padding-bottom: 2rem;
			width: 80%;
		}
		&-banner {
			width: unset;
			padding: unset;
			border-radius: unset;
		}
		&-listing {
			margin-top: -35px;
		}
	}
}
