$primary-color: #ff9c5e;
$light-gray: #dad8d6;
$danger: #ff878b;
$yellow: #ffb800;
$orange-accent: #ffdcc7;
$gray-accent: #f9f9f9;
$green-highlight: #107f4e;
$font-style-primary: "Baskervville", serif;
$font-style-secondary: "Stoke", serif;

// BREAKPOINTS
$large: 1025px;
$medium: 769px;
$small: 426px;
