@import url("https://fonts.googleapis.com/css2?family=Baskervville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stoke&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap");
nav {
  top: 0;
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 8%;
  background: #f9f9f9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
nav .navbar-brand {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}
nav .navbar-brand img {
  width: 70px;
}
nav .navbar-brand span {
  color: #ff9c5e;
}
nav .navbar-brand p {
  font-size: small;
}
nav .navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav .navbar-links li {
  margin-left: 1rem;
}
nav .navbar-links a {
  text-decoration: none;
  font-size: large;
  color: black;
}
nav .navbar-links a:hover {
  border-bottom: 2px solid #ff9c5e;
}
nav .navbar-toggler {
  display: none;
  border: none;
  font-size: 2rem;
  background-color: transparent;
}

@media (max-width: 426px) {
  nav {
    padding: 2% 3%;
  }
  nav .navbar-brand span,
  nav .navbar-brand p {
    display: none;
  }
  nav .navbar-links {
    flex-direction: column;
    margin-top: 21rem;
    background-color: #f9f9f9;
  }
  nav .navbar-links li {
    margin-top: 1rem;
  }
  nav .navbar-toggler {
    display: block;
  }
  nav .navbar-collapse {
    padding-bottom: 1rem;
    display: none;
    width: 90%;
    left: 0;
    position: fixed;
  }
}
.products {
  width: 85%;
  margin: 0 auto;
}
.products-banner {
  display: flex;
  justify-content: space-around;
  border-radius: 15px;
  background-color: #ff9c5e;
  align-items: center;
}
.products-banner-text {
  text-align: center;
}
.products-banner-text h1 {
  font-size: 6rem;
  margin-bottom: 1rem;
}
.products-banner-text h3 {
  margin-top: 1rem;
}
.products-filters {
  margin-top: 1rem;
  display: flex;
}
.products-filters select {
  margin-right: 1.5rem;
}
.products-filters form {
  display: inline-block;
}
.products-listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (max-width: 769px) {
  .products-banner img {
    width: 20rem;
  }
  .products-banner-text h1 {
    font-size: 4rem;
  }
}
@media (max-width: 426px) {
  .products {
    margin: 2rem 0;
    margin: 0 auto;
    width: unset;
  }
  .products-banner {
    padding-top: 1rem;
    flex-direction: column;
    border-radius: unset;
  }
}
.card {
  margin: 1rem 0;
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-header {
  width: 30%;
  text-align: center;
}
.card-header i {
  color: #ffb800;
}
.card-content {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.card-content h2 {
  margin-bottom: 1rem;
}
.card-content .color-variation {
  margin: 10px 0;
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.card-content .color-variation input[type=radio] {
  display: none;
}
.card-content .color-variation label {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 5px;
  border-radius: 50%;
  border: 2px solid #ccc;
  cursor: pointer;
}
.card-content .color-variation input[type=radio]:checked + label {
  border-color: black;
}
.card-content .color-variation .arrow {
  display: inline-block;
  font-size: 30px;
  margin: 0 10px;
  cursor: pointer;
}
.card-content h3 {
  opacity: 50%;
}
.card-content button {
  margin-top: 1.5rem;
  border-radius: 20px;
  border: none;
  background-color: #ff9c5e;
  padding: 1rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.card-content button a {
  text-decoration: none;
  color: black;
}
.card-price, .card-description {
  font-family: "Stoke", serif;
}
.card-images {
  margin-top: 1rem;
}
.card-images label img {
  width: 4rem;
  border: 3px solid silver;
  border-radius: 5px;
}
.card-images label img:hover {
  border-color: #ff9c5e;
}
.card-images label [type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.card-images label [type=radio]:checked + img {
  border-color: #ff9c5e;
}

.services h1 {
  font-size: 6rem;
}
.services p {
  font-size: 1.5rem;
  width: 60%;
  margin: 1rem auto 0;
}
.services-banner {
  width: 85%;
  margin: 0 auto;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hairdressing-station.png") no-repeat center/cover;
  padding: 5rem;
  color: white;
  margin-top: 2rem;
  text-align: center;
  border-radius: 15px;
}
.services-listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
  margin: -60px auto 0;
}
.services-card {
  color: black;
  width: 30rem;
}
.services-card img {
  width: 100%;
}

@media (max-width: 1025px) {
  .services-card {
    width: 25rem;
  }
}
@media (max-width: 769px) {
  .services p {
    width: 90%;
  }
  .services-banner {
    padding: 3rem;
  }
  .services-card {
    width: 35rem;
  }
  .services-listing {
    margin-top: -50px;
  }
}
@media (max-width: 426px) {
  .services h1 {
    font-size: 3rem;
  }
  .services p {
    font-size: 1.2rem;
    width: 60%;
    margin: 1rem auto 0;
    padding-bottom: 2rem;
    width: 80%;
  }
  .services-banner {
    width: unset;
    padding: unset;
    border-radius: unset;
  }
  .services-listing {
    margin-top: -35px;
  }
}
.text-divider {
  --text-divider-gap: 5rem;
  display: flex;
  align-items: center;
  font-size: 0.9375rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  width: 85%;
  margin: 12rem auto 1rem;
}
.text-divider::before {
  content: "";
  height: 1px;
  background-color: silver;
  flex-grow: 1;
  margin-right: var(--text-divider-gap);
}
.text-divider::after {
  content: "";
  height: 1px;
  background-color: silver;
  flex-grow: 1;
  margin-left: var(--text-divider-gap);
}

.about-us {
  width: 85%;
  margin: 0 auto;
}
.about-us img {
  width: 100%;
}
.about-us p {
  margin-top: 1rem;
  line-height: 27px;
  font-size: larger;
}

.product-details {
  background-color: #f9f9f9;
  width: 85%;
  margin: 10rem auto 2rem;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  border-radius: 15px;
}

.product-texts .product-stats {
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0;
}
.product-texts .product-stats i {
  color: #ffb800;
}
.product-texts .product-stats .number-ratings {
  margin-left: 1rem;
  border-left: 1px solid black;
  padding: 0 10px;
}
.product-texts .product-stats .number-ratings span {
  -webkit-text-decoration: underline #ff9c5e;
          text-decoration: underline #ff9c5e;
  padding-bottom: 2px;
  font-family: "Stoke", serif;
}
.product-texts .product-stats .number-equivalent {
  font-family: "Stoke", serif;
  margin-right: 0.5rem;
  -webkit-text-decoration: underline #ff9c5e;
          text-decoration: underline #ff9c5e;
}
.product-texts h1 {
  font-size: 3rem;
}
.product-texts .color-variation {
  margin: 10px 0;
  display: flex;
  align-items: baseline;
}
.product-texts .color-variation input[type=radio] {
  display: none;
}
.product-texts .color-variation label {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 5px;
  border-radius: 50%;
  border: 2px solid #ccc;
  cursor: pointer;
}
.product-texts .color-variation input[type=radio]:checked + label {
  border-color: black;
}

.quantity-button {
  margin: 0.5rem 0 0;
  width: 6rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.quantity-button input[type=text] {
  width: 25px;
  font-size: 1.5rem;
  text-align: center;
  border: none;
}
.quantity-button .minus-btn,
.quantity-button .plus-btn {
  font-size: 1.5rem;
  line-height: 1rem;
  padding: 0.5rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  color: #666;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.quantity-button .minus-btn:hover,
.quantity-button .plus-btn:hover {
  background-color: #ddd;
}
.quantity-button .minus-btn:focus,
.quantity-button .plus-btn:focus {
  outline: none;
}

.buttons-cta button {
  padding: 1rem;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 1.5rem;
}
.buttons-cta :first-child {
  background-color: #ffb282;
}
.buttons-cta :last-child {
  background-color: #ff9c5e;
}

.product-specifications {
  width: 85%;
  margin: 0 auto;
}
.product-specifications h2 {
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 15px;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.product-specifications ul {
  margin: 1rem 0 2rem 3rem;
  line-height: 28px;
  font-size: 1rem;
}
.product-specifications p {
  line-height: 28px;
  letter-spacing: 3px;
  margin: 1rem 0 2rem 1rem;
  font-size: 1rem;
}

.reviews {
  width: 85%;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 15px;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}
.reviews .left-review {
  width: 33%;
}
.reviews .left-review .star-rating {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}
.reviews .left-review .star-rating i {
  color: #ffb800;
}
.reviews .left-review .star-rating h3 {
  margin-left: 1rem;
  font-family: "Baloo Thambi 2", cursive;
}
.reviews .left-review h1 {
  font-family: "Baloo Thambi 2", cursive;
  margin: 1rem auto;
}
.reviews .left-review hr {
  border-color: #ff9c5e;
  margin: 1.5rem 0;
}
.reviews .left-review button {
  width: 100%;
  border: none;
  margin-top: 1rem;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 0.8rem 0.5rem;
}
.reviews .right-review {
  width: 50%;
}
.reviews .right-review img {
  width: 100px;
}
.reviews .right-review a {
  text-decoration: none;
  color: #ff9c5e;
}
.reviews .right-review .review-comments {
  margin-top: 2rem;
}
.reviews .right-review .review-comments-header {
  display: flex;
  align-items: center;
}
.reviews .right-review .review-comments-header img {
  border-radius: 50%;
  width: 50px;
  margin-right: 1rem;
}
.reviews .right-review .review-comments-subheading {
  display: flex;
  margin-top: 1rem;
}
.reviews .right-review .review-comments-subheading i {
  color: #ffb800;
}
.reviews .right-review .review-comments-subheading h4 {
  margin-left: 1rem;
}
.reviews .right-review .review-comments-details {
  display: flex;
  margin: 0.5rem 0;
}
.reviews .right-review .review-comments-details h5 {
  margin-right: 1rem;
  font-family: "Baloo Thambi 2", cursive;
}
.reviews .right-review .review-comments p {
  font-family: "Baloo Thambi 2", cursive;
}

@media (max-width: 1025px) {
  .reviews .left-review {
    width: 45%;
  }
}
@media (max-width: 769px) {
  .product-details {
    margin: 6rem auto 2rem;
    width: 95%;
    padding: 1rem;
  }
  .product-texts {
    width: 40%;
  }
}
@media (max-width: 426px) {
  .product-details {
    flex-direction: column;
  }
  .product-texts {
    width: 100%;
  }
  .product-specifications {
    width: 100%;
  }
  .reviews {
    width: 100%;
    flex-direction: column;
    padding: 1rem;
  }
  .reviews .left-review,
  .reviews .right-review {
    width: 100%;
  }
  .reviews .left-review {
    margin-bottom: 3rem;
  }
}
.my-bag {
  width: 85%;
  margin: 10rem auto 2rem;
  background-color: #f9f9f9;
  border-radius: 15px;
  padding: 3rem;
}
.my-bag-title {
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid #dad8d6;
  padding-bottom: 1rem;
  justify-content: space-between;
}
.my-bag-title i {
  font-size: 4rem;
}
.my-bag-title h1 {
  font-size: 2rem;
  display: inline-block;
  vertical-align: middle;
  margin-left: 1rem;
}
.my-bag-product {
  margin-top: 1rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #dad8d6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.my-bag-product .product-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.my-bag-product .product-content .image-service {
  width: 500px;
}
.my-bag-product .product-content h4 {
  margin: 1rem 0;
}
.my-bag-product .product-content .service {
  display: block;
}
.my-bag-product .product-content-highlight {
  color: #107f4e;
}
.my-bag-product .product-content-description {
  width: 40%;
}
.my-bag .products-label,
.my-bag .services-label {
  margin: 1.5rem 0;
}

.quantity-button {
  margin: 0;
  width: 6rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.quantity-button input[type=text] {
  width: 25px;
  font-size: 1.5rem;
  text-align: center;
  border: none;
  background-color: #f9f9f9;
}
.quantity-button .minus-btn,
.quantity-button .plus-btn {
  font-size: 1.5rem;
  line-height: 1rem;
  padding: 0.5rem;
  width: 30px;
  height: 30px;
  border: none;
  color: #666;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #f9f9f9;
}
.quantity-button .minus-btn:hover,
.quantity-button .plus-btn:hover {
  background-color: #dad8d6;
}
.quantity-button .minus-btn:focus,
.quantity-button .plus-btn:focus {
  outline: none;
}

.cta-buttons {
  display: flex;
  justify-content: space-around;
}
.cta-buttons .remove {
  background-color: #ff878b;
  border: none;
  padding: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.subtotal {
  margin-top: 1rem;
  display: flex;
  justify-content: end;
}
.subtotal-content button {
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #ff9c5e;
  border: none;
  border-radius: 5px;
  margin-top: 0.5rem;
  float: right;
}
.subtotal-content h2,
.subtotal-content button {
  font-family: "Stoke", serif;
}
.subtotal-button-container {
  display: flex;
  align-items: center;
  justify-content: end;
}
.subtotal-button-container button {
  margin-left: 1rem;
  cursor: pointer;
}

.price-tag,
.number-details {
  font-family: "Stoke", serif;
}
.price-tag-m,
.number-details-m {
  font-family: "Stoke", serif;
  display: none;
}

@media (max-width: 769px) {
  img {
    width: 200px;
  }
  .my-bag-product {
    display: unset;
  }
  .my-bag-product .product-content {
    justify-content: space-between;
  }
  .my-bag-product .product-content .image-service {
    width: 300px;
  }
  .my-bag-product .price-tag {
    display: none;
  }
  .my-bag-product .price-tag-m {
    display: block;
  }
}
@media (max-width: 426px) {
  .my-bag {
    padding: 1rem;
  }
  .my-bag-title h3 {
    display: none;
  }
  .my-bag-product .product-content {
    flex-direction: column;
  }
  .my-bag-product .product-content-description {
    width: 100%;
    text-align: center;
  }
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltip-text {
  visibility: hidden;
  background-color: #ff878b;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 1rem 2rem;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 1.2rem;
  width: 15rem;
  font-weight: bold;
}
.tooltip i {
  font-size: 2rem;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.checkout {
  width: 85%;
  margin: 12rem auto 1rem;
}
.checkout-title {
  font-size: 2rem;
}
.checkout-content-address-title {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 15px;
  padding: 1rem 1.5rem;
}
.checkout-content-address-title i {
  color: #ff9c5e;
  font-size: 2.5rem;
  margin-right: 2rem;
}
.checkout-content-address p,
.checkout-content-address span {
  font-family: "Stoke", serif;
  margin-top: 1rem;
  padding-left: 1rem;
  display: inline-block;
}
.checkout-content-address span {
  font-weight: bold;
}
.checkout-content-address h5 {
  display: inline;
  color: #ff9c5e;
  border-bottom: 1px solid #ff9c5e;
  margin-left: 1rem;
}
.checkout-content-products-title, .checkout-content-services-title {
  background-color: #f9f9f9;
  border-radius: 15px;
  padding: 1rem 1.5rem;
  margin-top: 2rem;
}
.checkout-content-payment {
  margin-top: 1rem;
  display: flex;
}
.checkout-content-payment .courier-container {
  width: 22rem;
  margin-right: 5rem;
}
.checkout-content-payment-courier {
  margin-top: 1rem;
}
.checkout-content-payment-courier .couriers {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 1rem;
  align-items: center;
  background-color: #f9f9f9;
}
.checkout-content-payment-courier .couriers input[type=radio] {
  width: 15px;
  height: 15px;
  accent-color: #ff9c5e;
}
.checkout-content-payment-courier .couriers-content h4 {
  font-family: "Stoke", serif;
}
.checkout-content-payment-courier .couriers-content p {
  color: silver;
}
.checkout-content-payment-courier .couriers img {
  width: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0.3rem;
}
.checkout-content-payment-courier .couriers:hover {
  background-color: #ffdcc7;
}
.checkout-content-payment .payment-method-card {
  cursor: pointer;
}
.checkout-content-payment .payment-method-card input[type=radio] {
  display: none;
}
.checkout-content-payment .payment-method-card h4 {
  margin-top: 1rem;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #f9f9f9;
  border-radius: 10px;
}
.checkout-content-payment .payment-method-card h4:hover {
  background-color: #ffdcc7;
}
.checkout-content-payment .payment-method-card input[type=radio]:checked + h4 {
  background-color: #ffdcc7;
}

@media (max-width: 426px) {
  .checkout-content-payment {
    display: unset;
  }
  .checkout-content-payment .payment-method-container,
  .checkout-content-payment .courier-container {
    margin-top: 1rem;
  }
}
.service-form {
  width: 85%;
  margin: 12rem auto 0;
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 1rem;
  box-sizing: border-box;
}
.service-form-title {
  font-size: 2rem;
}
.service-form-subtitle {
  margin: 2rem 0;
}
.service-form-content .important {
  color: #ff878b;
  margin-left: 0.5rem;
}
.service-form-content .field-title {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1rem 0;
}
.service-form-content .checkboxes {
  display: flex;
  margin: 1rem 0;
  font-size: 1.2rem;
}
.service-form-content .checkboxes label {
  display: block;
  margin-bottom: 5px;
}
.service-form-content .checkboxes .col {
  width: 30%;
}
.service-form-content .checkboxes .col input[type=checkbox] {
  margin-right: 5px;
  border: 1px solid #ff9c5e;
}
.service-form-content .date-picker {
  margin: 2rem 0;
  font-size: 1.2rem;
}
.service-form-content .date-picker label {
  margin-right: 2rem;
}
.service-form-content .date-picker label input[type=date],
.service-form-content .date-picker label input[type=time] {
  margin-left: 1rem;
  font-family: "Stoke", serif;
}
.service-form-content .important {
  color: #ff878b;
  margin-left: 0.5rem;
}
.service-form .contact-information {
  display: flex;
  flex-wrap: wrap;
}
.service-form .contact-information .text-field {
  margin: 2rem 0 0;
}
.service-form .contact-information .text-field input[type=text],
.service-form .contact-information .text-field input[type=tel],
.service-form .contact-information .text-field input[type=email] {
  border: 2px solid black;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1.2rem;
  width: 80%;
}
.service-form .note {
  margin: 2rem 0;
}
.service-form .note span {
  color: silver;
}
.service-form .book-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.service-form .book-footer textarea {
  border: none;
  padding: 1rem;
}
.service-form .book-footer button {
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #ff9c5e;
  border: none;
  border-radius: 5px;
}

@media (max-width: 769px) {
  .service-form {
    width: 100%;
    margin: 8rem auto 0;
  }
  .service-form-content .checkboxes .col {
    width: 100%;
  }
}
.hero-section {
  width: 85%;
  margin: 12rem auto 1rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero-banner.png") center/cover no-repeat;
  border-radius: 15px;
  color: white;
  padding: 6rem 8rem;
}
.hero-section-content {
  width: 90%;
  margin: 0 auto;
}
.hero-section-content h1 {
  font-size: 5rem;
  font-style: italic;
}
.hero-section-content h2 {
  margin: 1.5rem 0 0.5rem;
}
.hero-section .buttons-cta {
  display: flex;
  gap: 30px;
}
.hero-section .buttons-cta button i {
  background-color: transparent;
  margin-right: 0.5rem;
}

@media (max-width: 769px) {
  .hero-section {
    padding: 2rem 2rem;
  }
}
@media (max-width: 426px) {
  .hero-section {
    width: unset;
    border-radius: unset;
    margin: 8rem 0 2rem;
    padding: unset;
  }
  .hero-section-content h1 {
    font-size: 3rem;
  }
  .hero-section-content h2 {
    margin: 1rem 0 0.2rem;
  }
  .hero-section .buttons-cta {
    gap: 0;
    justify-content: space-around;
    padding-bottom: 2rem;
  }
}
.bar-ratings {
  margin-top: 1rem;
}
.bar-ratings-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}
.bar-ratings-container span {
  font-family: "Baloo Thambi 2", cursive;
}
.bar-ratings-container .gray-bar {
  background-color: silver;
  width: 80%;
  border-radius: 5px;
  height: 18px;
}
.bar-ratings-container .yellow-bar {
  background-color: #ffb800;
  height: 100%;
  border-radius: 5px;
}
.bar-ratings-container .bar-5 {
  width: 75%;
}
.bar-ratings-container .bar-4 {
  width: 20%;
}
.bar-ratings-container .bar-3 {
  width: 5%;
}
.bar-ratings-container .bar-2,
.bar-ratings-container .bar-1 {
  width: 0;
}

@media (max-width: 769px) {
  .bar-ratings-container .gray-bar {
    width: 70%;
  }
}
footer {
  background-color: #ff9c5e;
  margin-top: 5rem;
}
footer .footer {
  padding: 3rem 3rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
footer .footer-socials {
  display: flex;
  align-items: center;
  gap: 20px;
}
footer .footer-socials-icons {
  font-size: 1.2rem;
}
footer .footer-logistics {
  display: flex;
  align-items: center;
  gap: 20px;
}
footer .footer-logistics-logos img {
  width: 50px;
  height: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  background-color: white;
  border-radius: 3px;
}
footer .footer-contacts {
  display: flex;
  align-items: center;
  gap: 20px;
}
footer .footer-contacts .contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .footer-contacts .contacts-details {
  display: flex;
  align-items: center;
  gap: 20px;
}
footer .footer-terms {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .footer-terms a {
  color: black;
}
footer .footer-download {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .footer-download .qr-code img {
  width: 60px;
}
footer .footer-download .stores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
}
footer .footer-download .stores img {
  width: 80px;
}
footer h3 {
  text-align: center;
  opacity: 50%;
  padding-bottom: 2rem;
}
footer hr {
  height: 100px;
  border-color: black;
}

@media (max-width: 1025px) {
  footer .footer-socials, footer .footer-logistics, footer .footer-contacts {
    display: unset;
  }
}
@media (max-width: 769px) {
  footer hr {
    visibility: hidden;
    padding: 0 1rem;
  }
}
@media (max-width: 426px) {
  footer .footer {
    padding: 1rem 0.3rem;
    align-items: unset;
    justify-content: space-evenly;
  }
  footer .footer-socials-icons, footer .footer-socials-logos, footer .footer-logistics-icons, footer .footer-logistics-logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    gap: 10px;
  }
  footer .footer-contacts .contacts {
    margin-top: 0.5rem;
    gap: 10px;
  }
  footer .footer-terms {
    margin-top: 0.5rem;
  }
  footer hr {
    border-color: transparent;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Baskervville", serif;
  scroll-behavior: smooth;
  transition: 0.2s ease-in-out;
}/*# sourceMappingURL=glamorous-you-styles.css.map */